.top-stats .continental {
  margin: 0;
  font-size: 40px;
}

.country-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(225, 73, 132, 0.75);
}

.country {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: right;
  width: 100%;
  padding: 10px;
  color: white;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(225, 73, 132, 0.75)), url('../assets/coronavirus-ikages.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.country-name {
  font-size: 30px;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

#text {
  border-radius: 50px;
  padding: 5px;
  width: 70%;
  background-color: rgba(225, 73, 132, 0.75);
  border: 2px solid white;
  color: white;
}
