/* Navbar.css */
.nav-container {
  background-color: #e14984;
  color: #ffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-left {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.continent-name {
  font-weight: bold;
}
